{% extends "footers.html" %}
{% block content %}
    <div class="container">

    <div class="h1 border-bottom">
        About us<img src="/static/team2.png" width="60px" height="auto" class="mx-2"/>
    </div>
        <p>Hello user, we are six management engineers students at Politecnico di Torino.</p>
        <p>We created GreenGo for several reasons, in this little paragraph we will try to explain you the main ones.</p>
    <p>Firstly, the sustainability theme is becoming more and more a center one in our everyday life.
    In particular Turin is in the top three most polluted cities of Italy, a primate not so good for both the
    attractiveness of the city itself and for its citizens health. So why do not accelerate this transaction to sustainable means of transport?</p>
   <p> At the same time we are students, someone offsite, someone not, and we have needs regarding transportation infrastructure and we usually do not have so much money or so much time.
    We try to explain better: if you need a sharing company mean of transport, you just look at the app corresponding to that specific sharing company,
    so you do not have any idea if there are other sharing companies equally near to you available at a lower price, or more comfortable to your specific need in that moment.
       Or better, you can have this information by visiting other sharing companies websites and losing that time just mentioned up.</p>
    <p>So due to these needs, we created GreenGo, the green app of means of transports which allows you to choose the cheaper mean or the one it is more addressable to you in that moment.
    All surrounded by the central theme of sustainability, allowing only green sharing companies to collaborate with us and incentivating users to reserve green means in order to increase their score
        and earn fantastic coupons offered by environmental agencies and sponsors. </p>
        <p>This is what GreenGo does and can help for.</p>
        <p>If you are a student placed in Turin what are you waiting for? <a href="/registration">Enjoy now</a> Greengo for free!
     </p>
        <p>If you are a sharing company, a sponsor or an agency which works in the sustainability sector, please <a href="mailto:greengoo@mail.com">Contact us</a> to create a partnership with us!</p>
    <div class="h2 border-bottom">
        Our team<img src="/static/team.png" width="60px" height="auto" class="mx-2"/>
    </div>
    <div class="h3 my-3">
        Management section<img src="/static/management.png" width="60px" height="auto" class="mx-2 p-1"/>
    </div>
    <div class="row py-4">
             <div class="col-md-3 col-sm-4 pb-3">
            <img src="/static/fede.jpg" class="half" width="70%" height="auto">
             </div>
             <div class="col-md-3 col-sm-8">
            <div class="h4">Federica Quarone</div>
                 <div>
                     Age: 22
                 </div>
                 <div>
                     Bachelor degree in Management Engineering L-8 at Politecnico di Torino
                 </div>
             </div>
             <div class="col-md-3 col-sm-4 pb-3">
            <img src="/static/mari.jpeg" class="half" width="70%" height="auto">
             </div>
             <div class="col-md-3 col-sm-8">
            <h4>Maria Laura Pupo</h4>
                 <p>
                     Age: 22
                 </p>
                 <p>
                     Bachelor degree in Management Engineering L-8 at Politecnico di Torino
                 </p>
             </div>
        </div>
    <div class="row py-4">
             <div class="col-md-3 col-sm-4 pb-3">
            <img src="/static/cri.jpeg" class="half" width="70%" height="auto">
             </div>
             <div class="col-md-3 col-sm-8">
            <div class="h4">Cristian Popa</div>
                 <div>
                     Age: 22
                 </div>
                 <div>
                     Bachelor degree in Management Engineering L-9 at Politecnico di Torino
                 </div>
             </div>
             <div class="col-md-3 col-sm-4 pb-3">
            <img src="/static/mati.jpeg" class="half" width="70%" height="auto">
             </div>
             <div class="col-md-3 col-sm-8">
            <h4>Matilde Ricci</h4>
                 <p>
                     Age: 23
                 </p>
                 <p>
                     Bachelor degree in Management Engineering L-8 at Politecnico di Torino
                 </p>
             </div>
        </div>
    <div class="h3 my-3">
        Technician section<img src="/static/tecn.png" width="60px" height="auto" class="mx-2"/>
    </div>
    <div class="row py-4">
             <div class="col-md-3 col-sm-4">
            <img src="/static/fil.png" class="half" width="70%" height="auto">
             </div>
             <div class="col-md-3 col-sm-8 pb-3">
            <div class="h4">Filippo Mattio</div>
                 <div>
                     Age: 22
                 </div>
                 <div>
                     Bachelor degree in Management Engineering L-8 at Politecnico di Torino
                 </div>
             </div>
             <div class="col-md-3 col-sm-4 pb-3">
            <img src="/static/pinzu.jpg" class="half" width="70%" height="auto">
             </div>
             <div class="col-md-3 col-sm-8">
            <h4>Alessandro Pinzuti</h4>
                 <p>
                     Age: 22
                 </p>
                 <p>
                     Bachelor degree in Management Engineering L-8 at Politecnico di Torino
                 </p>
             </div>
        </div>
    <div class="h2 border-bottom">
        Our future goals
    </div>
    <p>In the future we hope to increase our network, both sponsors, sharing company, agencies and user sides.</p>
    <p>In particular we would like to cooperate with PA in order to achieve the common goal of resolve pollution in Turin, or somehow raise awareness
    about it through the society.</p>
    <p>For hat concerns the website, we would like to ensure the user a better experience adding these implementations:</p>
    <p>- First of all, we want to implement the GreenGo app for smartphone, because now it is only a website, and we think that for the users it is essential can use the smartphone to reserve the vehicles and to take advantage of all functions that our service offers.</p>
    <p>- An important upgrade is to show the distance between the user and the considered vehicle.</p>
    <p>- Essential for the success of the booking is the connection with the sharing companies ’apps: when a user unlocks a vehicle of a sharing company the user is directed on the sharing company’s app, in order to can do this our aspiration is that a large number of sharing companies decide to collaborate with us. </p>
    <p>- A premium user implementation, which guarantees user some privileges beyond a subscription payment.</p>
    <p>- Insertion of the privacy conditions, in particular for the localization because the service uses many users’ private data. </p>
    </div>



{% endblock content %}