{% extends "navbar.html" %}
{% block content %}

<h1>Change your password</h1>

    <form class="row g-3" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-6 col-md-4">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        </div>
    <div class="col-6 col-md-4">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ session['email'] }}">
    </div>
    </div>
    <div class="row">
    <div class="col-6 col-md-4">
    <label for= '{{ form.old_password.label }}' class="form-label">{{ form.old_password.label }}</label>
    </div>
    <div class="col-6 col-md-4">
    {{ form.old_password(class='form-control', placeholder='Please enter here your old password') }}
      {% for error in form.old_password.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
                          {% with messages = get_flashed_messages(category_filter=["oldPassword"]) %}
   {% if messages %}
      {% for message in messages %}
         <div class="alert-danger">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
  </div>
    </div>
        <div class="row">
        <div class="col-6 col-md-4">
    <label for= '{{ form.new_password.label }}' class="form-label">{{ form.new_password.label }}</label>
        </div>
        <div class="col-6 col-md-4">
    {{ form.new_password(class='form-control', placeholder='Please enter here your new password') }}
      {% for error in form.new_password.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
        {% with messages = get_flashed_messages(category_filter=["newPassword"]) %}
   {% if messages %}
      {% for message in messages %}
         <div class="alert-success">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
        </div>
  </div>
    <div class="col-12">
    <div>
        {{ form.submit(class='btn btn-primary') }}
    </div>
   </div>
    </form>

{% endblock content %}