{% extends "footers.html" %}

{% block content %}
<div class="container">
  <form class="form-signin" method="post">
  {{ form.hidden_tag() }}
    <img class="mb-4 center" src="static/logo.png" alt="" width="90" height="80"/>
    <h1 class="h2 mb-3 fw-normal text-center">Login</h1>

    <div class="form-floating">
       {{ form.email(class='form-control', placeholder='Email address') }}

      <label for="floatingInput">Email address</label>
              {% with messages = get_flashed_messages(category_filter=["errorEmail"]) %}
   {% if messages %}
      {% for message in messages %}
         <div class="alert-danger">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}

        </div>

    <div class="form-floating">
       {{ form.password(class='form-control', placeholder='Password') }}
      <label for="floatingPassword">Password</label>
                      {% with messages = get_flashed_messages(category_filter=["errorPassword"]) %}
   {% if messages %}
      {% for message in messages %}
         <div class="alert-danger">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
    </div>

      {{ form.submit(class='w-100 btn btn-lg btn-primary')}}
  {% for error in form.submit.errors %}
      <div class="alert-danger">{{ error }}</div>
    {% endfor %}
   </form>
  <p></p>
    <p class="text-center">Have you not registered yet?<br> Click <a href="/registration">here</a> to register</p>
   <p></p><p class="text-center">Have you forgotten your password?<br> Click <a href="/recover">here</a> to recover it</p>

</div>
{% endblock content %}

