{% extends "footers.html" %}

{% block content %}

  <form class="form-signin" method="post">
  {{ form.hidden_tag() }}
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>

    <div class="form-floating">
       {{ form.email(class='form-control', placeholder='Email address') }}

      <label for="floatingInput">Email address</label>
              {% with messages = get_flashed_messages(category_filter=["errorEmail"]) %}
   {% if messages %}
      {% for message in messages %}
         <div class="alert-danger">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}

        </div>

    <div class="form-floating">
       {{ form.password(class='form-control', placeholder='Password') }}
      <label for="floatingPassword">Password</label>
                      {% with messages = get_flashed_messages(category_filter=["errorPassword"]) %}
   {% if messages %}
      {% for message in messages %}
         <div class="alert-danger">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
      {{ form.submit(class='w-100 btn btn-lg btn-primary')}}
  {% for error in form.submit.errors %}
      <div class="alert-danger">{{ error }}</div>
    {% endfor %}
  <p></p><p class="text-center">Have you not registered yet?<br> Click <a href="/registration">here</a> to register</p>
   <p></p><p class="text-center">Have you forgotten your password?<br> Click <a href="/recover">here</a> to recover it</p>

  </form>

{% endblock content %}

