<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
<body>
<h1>Hello {{name_user}}, congratulation for having buyed a green coupon!</h1>
<p>You still have {{ points }} GreenGo points left</p>
<p>Coupon info:</p>
<p>Name: {{ name_coupon }}</p>
<p>Company: {{ company }}</p>
<p>Click <a href="https://www.{{ company }}.com">here</a> to use it!</p>
<p>Did you not buy any coupon? Please <a href="mailto:greengo2022@email.com">contact us</a>.</p>
</body>
</html>