{% extends "footers.html" %}
{% block content %}

  <head>

    {{sndmap.js}}
  </head>


  <body>

  <div class="container">
                   <h2 class="pb-2 border-bottom">Welcome {{ username }}, choose your transport <img src="/static/map-car.png" width="60px" height="auto" class="mx-2"/><img src="/static/map-bicycle.png" width="60px" height="auto" class="mx-2"/><img src="/static/map-moto.png" width="60px" height="auto" class="mx-2"/><img src="/static/map-scooter.png" width="60px" height="auto" class="mx-2"/></h2>

        <p>Below in the map there are all the means you can drive</p>



 <div class="map pt-4" align="center" >

     {{sndmap.html}}

</div>




</div>

  </body>


{% endblock %}