{% extends "index.html" %}

{% block content %}

    <form class="row g-3" method="post">
    {{ form.hidden_tag() }}
  <div class="col-md-6">
    <label for= '{{ form.name.label }}' class="form-label">{{ form.name.label }}</label>
    {{ form.name(class='form-control', placeholder='First Name') }}
      {% for error in form.name.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
  </div>
  <div class="col-md-6">
    <label for='{{ form.family_name.label }}' class="form-label">{{ form.family_name.label }}</label>
    {{ form.family_name(class='form-control', placeholder='Family Name') }}
      {% for error in form.family_name.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
  </div>
  <div class="col-md-8">
    <label for= '{{ form.email.label }}' class="form-label">{{ form.email.label }}</label>
    {{ form.email(class='form-control', placeholder='greengo2022@mail.com') }}
      {% for error in form.email.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
  </div>
  <div class="col-6 col-md-4">
    <label for= '{{ form.date_of_birth.label }}' class="form-label">{{ form.date_of_birth.label }}</label>
    {{ form.date_of_birth(class='form-control', placeholder='DD/MM/YYYY') }}
      {% for error in form.date_of_birth.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
  </div>
  <div class="col-md-8">
    <label for= '{{ form.password.label }}' class="form-label">{{ form.password.label }}</label>
    {{ form.password(class='form-control', placeholder='Min 8 characters, 1 capital letter and 1 number') }}
      {% for error in form.password.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
  </div>

  <div class="col-12">
    <div>
        {{ form.submit(class='btn btn-primary') }}
    </div>
   </div>
  </div>
</form>

{% endblock content %}