{% extends "index.html" %}

{% block content %}

    <h1>Register Form</h1>
{#    {% if session['username'] %}#}
{#       Welcome {{ name }},{{ family }}#}
{#    {% else %}#}
{#        {{  }}#}
{#    {% endif %}#}

    <div class="row">

<div class="col-lg-8 mb-4">
<form method="post">
   <div class="control-group form-group">
   <div class="controls">
        {{ form.name.label }} {{ form.name(class='form-control') }}

           {% for error in form.name.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}

   </div>
       <div class="controls">
           {{ form.family_name.label }} {{ form.family_name(class='form-control') }}
            {% for error in form.family_name.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
       </div>
       <div class="controls">{{ form.email.label }} {{ form.email(class='form-control') }}
                   {% for error in form.email.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
       </div>
          <div class="controls">{{ form.date_of_birth.label }} {{ form.date_of_birth(class='form-control') }}
                   {% for error in form.date_of_birth.errors %}
               <div class="alert-danger">{{ error }}</div>
           {% endfor %}
       </div>


       <div class="controls">{{ form.password.label }} {{ form.password(class='form-control') }}</div>
    <div class="controls">{{ form.hidden_tag() }}
        {{ form.submit(class='btn btn-primary') }}</div>
   </div>
</form>
</div>
    </div>
{% endblock content %}