{% extends "footers.html" %}

{% block content %}
<head>
    {{sndmap.js}}
    </head>

    <div class="row px-3 mx-1 py-4 mt-5">
        <div class="col-lg-3">
            <div class="box-profile">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <strong>{{ user.name }} {{ user.family_name.upper() }}</strong>
                    </li>

                    <li class="nav-item">

                        Email: {{ user.email}}

                    </li>

  <li class="nav-item">

    Residual time to unlock the mean: {{ time }}
  </li>

                </ul>


            </div>
            <div class="py-5 ms-5 mt-4 none-lg">
                <img src="/static/time.png" width="80%" height="auto" class="center"/>
            </div>
        </div>
        <div class="col-lg-9 mt-4">
        <main>

            <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">

                {% if user.email in request.cookies %}
                    <div class="row">
                    <p class="col-12">You have a reservation active, click on the button delete, if you want to cancel it, or click on Unlock if you want to unlock your transport </p>
                    </div>
                    <div class="row">
                    <form method="post" >
                        {{ form1.hidden_tag() }}
                        <div class="mx-2">
                       {{ form1.submit1(class='w-100 btn btn-lg btn-primary')}}
                        </div>

      {% if user.email not in request.cookies %}
          <div class="mx-2">
            {{ form1.submit(class='w-100 btn btn-lg btn-primary')}}
          </div>
          {% endif %}
                    </form></div>

{% endif %}
              <br>


          {% if user.email in request.cookies %}

                 <div class="row">   <form method="post" >
                        {{ form2.hidden_tag() }}
                    <div class="mx-2">
                      {{ form2.submit2(class='w-100 btn btn-lg btn-primary')}}
                    </div>

      {% if user.email not in request.cookies %}
          <div class="mx-2">
            {{ form2.submit(class='w-100 btn btn-lg btn-primary')}}
          </div>
          {% endif %}
    </form></div>
{% endif %}

      </div>
        </main>

<div class="row">
    {{ sndmap.html }}
</div>
    </div>
    </div>






{% endblock content%}